name: TS Checks

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Run TS checks
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: sdk/ts
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        uses: ./.github/workflows/actions/install-dependencies

      - name: Lint
        run: pnpm lint

      - name: Run format
        run: pnpm format

      - name: Build
        run: pnpm build
